/* app css stylesheet */


nav{
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #e3a000;
  position: fixed !important; 
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 10;
}

section{
  margin-top: 110px;
}

.navbar-item{
  color: green;
}

.navbar-brand{
  margin-top: 5px;
}

.title.is-2.has-text-white{
  font-size: 2em;
}
.navbar-brand img{
  height: 50px;
}

.dropDown{
  margin-top: 13px;
  margin-left: 470px;
  height: 40px;
  /* width: 100px; */
  background: white;
}

a.button:hover{
  background: #e15c47;
  color: white;
}

a.is-focused{
  background: #e15c47;
  border: none;
  color: white;
}

.profile-sidebar {
	background-color: #e15c47;
  text-align: center;
  border-radius: 5px;
}

.profile-task-area {
border: 1px solid #D5D7D2;
margin-left: 10px;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}

.red {
	color: red;
}
