<div ng-controller="TaskCtrl">
  <section class="section is-primary">
    <div class="container">
      <h1 class="title">Your Tasks</h1>
      <h2 class="subtitle">
        Check it out! Tasks! Get to <em>breaking that
        <strong>ICE</strong></em>
      </h2>
    </div>
    <div class="tile is-parent is-fullwidth" ng-repeat="task in taskList">
      <article class="tile is-child notification is-primary">
        <p class="subtitle">Ask {{task.author}} about: </p>
        <p class="content">{{task.title}}</p>
        <button class="button" ng-click="setComplete(task.answerID)">
          Complete!
        </button>
      </article>
    </div>
  </section>
</div>