<section>
  <div class="container" ng-controller="QuestionCtrl">
    <div class="column is-one-third profile-sidebar">
      <div class="form-group">
        <div class="col-sm-2">
          <input type="text" ng-model="Users.question" class="" id="question" placeholder="Your question here"/>
        </div>
        <div class="col-sm-2">
          <input type="text" ng-model="Users.answer" class="" id="answer" placeholder="Your correct answer to this question here"/>
        </div>
        <div class="col-sm-2">
          <input type="text" ng-model="Users.answer" class="" id="answer" placeholder="A wrong answer to this question here"/>
        </div>        
        <div class="col-sm-2">
          <input type="text" ng-model="Users.answer" class="" id="answer" placeholder="Another wrong answer here"/>
        </div>        
        <div class="col-sm-2">
          <input type="text" ng-model="Users.answer" class="" id="answer" placeholder="Another wrong answer here"/>
        </div>        
        <button id="question-submit" ng-click="pts()" class="button is-inverted">Submit Question</button>
      </div>
    </div>
  </div>
</section>
